body {
    font-family: Roboto, sans-serif;
}

/* COMMON  */
.grey-background {
    background-color: #f3f5f9;
}

h2,h4 {
    color: #072051;
}

.title-wrapper {
    text-align: center;
    padding: 50px 0;
}

@media all and (max-width: 991px) {
    .title-wrapper p {
        font-size: 18px;
    }
}
/* END COMMON  */


/* HEADER */
/* top-nav  */
.top-nav {
    padding: 20px 0;
}

.top-nav img {
    width: 200px;
}


.link_list {
    line-height: 45px;
}

.link_list li a {
    color: black;
    font-size: 12px;
}

.link_list i {
    font-size: 12px;
}

.burger {
    text-align: right;
}
.burger i {
    font-size: 20px;
    line-height: 45px;
    color: #3a8aff;
}

.button {
    border-color: #3a8aff;
    color: #3a8aff;
}
/* end top-nav  */
/* END HEADER  */

/* MAIN  */
/* jumbotron  */
.jumbotron-background {
    background-image: url(../img/ms-jumbo.jpg);
    background-size: cover;
}

.jumbotron-wrapper {
    padding: 50px 0;
    color: white;
}

.jumbotron-wrapper h1 {
    font-size: 50px;
}

.jumbotron-wrapper p {
    color: lightgrey;
    font-size: 15px;
}

@media all and (max-width: 991px) {
    .jumbotron-wrapper p {
        font-size: 18px;
    }
}

.right-col-wrapper {
    background-color: white;
    color: black;
    text-align: center;
    padding: 20px 10px;
    border-radius: 5px;
}

button img {
    width: 20px;
    text-align: left;
    /* da sistemare allineamento logo ------------ */
}

.right-col-wrapper span {
    font-size: 12px;
}
/* end jumbotron  */

/* companies  */
.companies-wrapper {
    text-align: center;
    padding: 50px 0 20px 0;
    margin: auto;
}

.companies-wrapper img {
    width: 80%;
}
/* TICKET ---------------------------------------- */

/* end companies  */

/* processes  */


.processes-list {
    border-left: 1px solid #63708c;
    margin-bottom: 30px;
}

.processes-list li {
    color: #8a94aa;
    padding: 10px 0 2px 5px;
}

@media all and (min-width: 768px) {
    .col_wrapper {
        width: 80%;
        margin: auto;
    }
}

@media all and (min-width: 992px) {
    .col_wrapper p {
        font-size: 12px;
    }
}

/* da rivedere ------------ */
.bottom_row {
    margin-top: 10px;
    padding-bottom: 40px;
}
/* end processes  */

/* slider  */

.slider-wrapper {
    width: 90%;
    margin: auto;
}

.slider-wrapper img {
    width: 50%;
    padding-top: 100px;
}

.caption {
    padding-top: 20px;
    color: #072051;
    font-weight: bold;
}

.chevron {
    font-size: 25px;
    position: relative;
    top: 70px;
    padding: 0 20px;
}

.fas.fa-chevron-left {
    opacity: 0.6;
}

@media all and (max-width: 767px) {
    .chevron {
        display: none;
    }
}

.dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 1px solid blue;
    border-radius: 50%;
    margin-top: 50px;
}

.full-dot {
    background-color: blue;
}
/* end slider  */

/* END MAIN  */