body {
    font-family: Roboto, sans-serif;
}
/* HEADER */
/* top-nav  */
.top-nav {
    padding: 20px 0;
}

.top-nav img {
    width: 200px;
}


.link_list {
    line-height: 45px;
}

.link_list li a {
    color: black;
    font-size: 12px;
}

.link_list i {
    font-size: 12px;
}

.burger {
    text-align: right;
}
.burger i {
    font-size: 20px;
    line-height: 45px;
    color: #3a8aff;
}

.button {
    border-color: #3a8aff;
    color: #3a8aff;
}
/* end top-nav  */
/* END HEADER  */

/* MAIN  */
/* jumbotron  */
.jumbotron-background {
    background-image: url(../img/ms-jumbo.jpg);
    background-size: cover;
}

.jumbotron-wrapper {
    padding: 50px 0;
    color: white;
}

.jumbotron-wrapper h1 {
    font-size: 50px;
}

.jumbotron-wrapper p {
    font-size: 15px;
    color: lightgrey;
}

@media all and (max-width: 767px) {
    .jumbotron-wrapper p {
        font-size: 18px;
    }
}

.right-col-wrapper {
    background-color: white;
    color: black;
    text-align: center;
    padding: 20px 10px;
    border-radius: 5px;
}

button img {
    width: 20px;
    text-align: left;
    /* da sistemare allineamento logo ------------ */
}

.right-col-wrapper span {
    font-size: 12px;
}
/* end jumbotron  */
/* END MAIN  */